# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# Local model directories
models/
gpt2_local/
test_models/

# Data folders
data/
*.csv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# PyCharm / VSCode settings
.idea/
.vscode/
